header {
  background: url(../imagenes/portada.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #000;
}

section {
  color: #000;
  font-size: 17px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
